<div class="cartBox">
  <h2 class="text-danger">sopping cart</h2>
<div class="headCart">
  <p class="lead">you have <label for="" class="text-danger">{{cartproduct.length}} </label> item in your card</p>
  <span class="text-danger card-header" (click)="clearShoppingCart()">clear shopping card</span>
</div>
<table class="table text-center w-100" >
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th  style="width: 25%;">Quantity</th>
      <th>total</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cartproduct; let index=index">
      <td><img [src]="item.item.image" [alt]="item.item.title"> </td>
      <td>{{item.item.title}}</td>
      <td>{{item.item.price}} L.E</td>
      <td>
        <div class="quantity">
          <button class="btn btn-dark"(click)="plusAmount(index)">+</button>
          <input class="form-control" type="number"(change)="detectchanges()" [(ngModel)]="item.quantity" min="1">
          <button class="btn btn-dark"(click)="minisAmount(index)">-</button>
        </div>
      </td>
      <td>{{item.item.price * item.quantity}} L.E</td>
      <td>
        <button class="btn btn-danger" (click)="deleteProduct(index)">Delete</button>
      </td>
    </tr>
  </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Total :{{total}}</th>
        <th><button class="btn btn-success" (click)="addCart()">Order Now</button></th>
      </tr>
    </tfoot>

</table>
</div>

<div class="alert alert-success" *ngIf="success">
  <strong>well Done Your order is successfully send</strong>
</div>
