<div class="container">
  <div class="row mt-5">
    <div class="col-md-5">
      <div class="productImg">
        <img src="{{data.image}}" alt="text" class="w-100">
      </div>
    </div>
    <div class="col-md-7">
      <div class="info">
        <ul class="list-unstyled">
          <li class="product-title">title:{{data.title}}</li>
          <li class="product-category">category:{{data.category}}</li>
          <li class="product-description">description:{{data.description}}</li>
          <li class="product-rate" >rate:{{data.rating.rate}}</li>
          <li class="product-count">count:{{data.rating.count}}</li>
          <li class="product-price">price: <span> {{data.price}}$</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>





